<header>
  <h2 class="headline">ようこそ Bookers へ！</h2>
  <div class="text"><p>Bookersでは、さまざまな書籍に関するあなたの意見や</p></div>
  <div class="text"><p>印象を共有し交換することができます</p></div>
  <div class="text"><a href="">start</a></div>
</header>
